*, *::before, *::after {
    margin: 0;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: grey;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#game {
    width: 90vw;
    height: 90vh;
    background-color: ghostwhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem
}

#board {
    background-color: hotpink;
    height: 100%;
    width: 100%;
    position: relative;
}

.mole {
    width: 2rem;
    aspect-ratio: 1/1;
    /* background-color: rgb(216, 216, 222); */
    position: absolute;
    background-image: url('https://clipart.info/images/minicovers/1523212415angry-trump-head-png.png');
    background-size: cover;
    animation-name: wobble;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes wobble {
    0% { transform: translateX(0%); } 
    15% { transform: translateX(-25%) rotate(-5deg); } 
    30% { transform: translateX(20%) rotate(3deg); } 
    45% { transform: translateX(-15%) rotate(-3deg); } 
    60% { transform: translateX(10%) rotate(2deg); }
    75% { transform: translateX(-5%) rotate(-1deg); }
    100% { transform: translateX(0%); } 
 } 